nav{
  background-color: transparent;
  height: 100px;
}
nav img{
  width: 150px;
}
.film-page{
  background-color: #141414;
}
nav{
  background-color: transparent;
  height: 100px;
  display: flex;
  align-items: center;
}
.nav-bar{
  display: flex;
  align-items: center;
}
.nav-bar a{
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  transition: all .3s;
}
.logo{
  margin-top: 15px;
}
video{
  width: 100%;
}
#video{
  height: 600px;
  overflow: hidden;
}
.film-page nav{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

h2{
  color: white;
}
.content{ 
  margin: 2px 1rem 0 1rem;
  margin-top: 150px;
}
.row{
  display: flex;
  justify-content: center;
}
.space-between{
  justify-content: space-between;
}

.film-page .row{
  margin-top: 15px;
}

.film-page .content{
  margin-top: 10px;
}

.row div{
  width: 100%;
  
}
.textvideo{
  padding-left: 50px;
}

button{
  background-color: rgba(51, 51, 51, .8);
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

.nav-bar a:hover{
  border-bottom: 2px solid white;
}